@import 'media/styles/_colors';

$background-color: $antique;
$text-color: $red;

.more-button {
  background-color: $background-color;
  margin: 2vh 2vw;
  text-align: center;

  button {
    background-color: $background-color;
    border: 0;
    padding: 0;
    font-size: 1.75rem;
    color: $text-color;
    cursor: pointer;

    i {
      color: $text-color;
    }
  }
}
