@import 'media/styles/_colors';

.games-list {
  margin: 3vh 0;
  padding: 0;

  li {
    margin: 1vh 0;
    list-style: none;
  }

  a {
    color: $purple;
    &:hover {
      color: $light-purple;
    }
  }
}
