@import 'media/styles/_colors';

.header-container {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 5vh;

  h2 {
    background-color: $charcoal;
    margin: 0;
    padding: 1.15vh 0 1.5vh 2.5vw;
    border-radius: 5px 5px 0 0;
    font-size: 2rem;
    color: $light-purple;
  }

  i {
    margin: 0 1vw 0 0;
  }
}
