@import 'media/styles/_colors';

.header-container {
  background-color: $antique;
  margin-bottom: 4vh;

  h2 {
    background-color: $black;
    margin: 0;
    padding: 1.5vh 0 1.5vh 2.5vw;
    font-size: 2rem;
    color: $light-purple;
  }

  i {
    margin-right: 8px;
  }

  .header-container-body {
    padding: 3vh 3vw;
    font-size: 1.25rem;
  }
}
