@import 'media/styles/_colors';
@import 'media/styles/_sizes';
@font-face {
  font-family: 'SNES-italic';
  src: url('../../media/fonts/SNES-italic.ttf');
}

.footer {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 5vw;
  background-color: $black;

  span {
    width: 100%;
    margin-top: 3px;
    font-family: 'SNES-italic';
    font-size: 1.8rem;
    color: $red;

    a {
      float: right;
      margin: 2px 3vw 0 0;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.25rem;
      color: $white;
      text-decoration: none;
    }
  }
}

@include tablet-down {
  .footer {
    span > a:last-child {
      margin-right: 4vw;
    }
  }
}
