@import '_colors';
@import '_sizes';
@font-face {
  font-family: 'SNES-italic';
  src: url('../../media/fonts/SNES-italic.ttf');
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 5vw;
  background-color: $black;

  span {
    width: 100%;
    margin-top: 3px;

    .footer-logo {
      float: left;
      font-family: 'SNES-italic';
      font-size: 1.8rem;
      color: $red;
    }

    a {
      float: right;
      margin-right: 3vw;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 1.25rem;
      color: $white;
      text-decoration: none;
    }
  }
}

@include tablet-down {
  .footer {
    span > a:last-child {
      margin-right: 4vw;
    }
  }
}

@include phone-only {
  .footer {
    span {
      display: flex;
      justify-content: center;
      align-items: center;

      .footer-logo {
        display: none;
      }

      a {
        margin-right: 20vw;
      }
    }
  }
}
