@import 'media/styles/_colors';

.more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh 2vw;
  color: $red;
  &:hover {
    color: $dark-red;
  }

  a {
    background-color: inherit;
    color: inherit;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: bold;
  }

  i {
    margin-right: 4px !important;
  }
}
