@import 'media/styles/_colors';

@font-face {
  font-family: 'SNES-italic';
  src: url('../../media/fonts/SNES-italic.ttf');
}

$font-stack: 'SNES-italic', sans-serif;
$background-color: linear-gradient($charcoal, $dark-purple);

.header-container {
  background: $background-color;
  height: calc(180px + 4vh);
  padding: 15px 15px 25px 15px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 7px solid $red;
  border-radius: 10px;

  h1 {
    font-family: $font-stack;
    font-size: calc(16px + 9vw);
    color: $red;
    margin: 15px;
    padding: 15px;
  }

  img {
    height: calc(50px + 4vw);
    padding: 15px;
    margin-bottom: 10px;
  }
}
