@font-face {
  font-family: 'SNES-italic';
  src: url('../../fonts/SNES-italic.ttf');
}

.header-container {
  background: linear-gradient(#000, #4f43ae);
  height: calc(180px + 4vh);
  padding: 15px 15px 25px 15px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98.5%;
  height: 98%;
  border: 7px solid #ff0000;
  border-radius: 10px;
}

.header h1 {
  font-family: 'SNES-italic', sans-serif;
  font-size: calc(16px + 9vw);
  color: #ff0000;
  margin: 15px;
  padding: 15px;
}

.header img {
  height: calc(50px + 4vw);
  padding: 15px;
  margin-bottom: 8px;
}
