@import 'media/styles/_colors';

.navbar {
  display: flex;
  vertical-align: middle;
  height: calc(40px + 1.5vh);
  background-color: $purple;

  button {
    border: 0;
    padding: 0 20px;
    margin-left: 6vw;
    cursor: pointer;
    font-size: 1.5rem;
    color: $antique;
    background-color: $dark-purple;
    &:hover {
      background-color: $darkest-purple;
    }
  }

  i {
    margin-right: 5px;
  }
}
