$white: #fff;
$antique: #faebd7;
$charcoal: #211a21;
$black: #000;
$light-gray: #cec9cc;
$dark-gray: #908a99;
$red: #fb0f19;
$dark-red: #e10d16;
$light-purple: #b5b6e4;
$purple: #4f43ae;
$dark-purple: #3f358b;
$darkest-purple: #372e79;
