@import 'media/styles/_colors';
@import 'media/styles/_sizes';

.title {
  display: inline;
  font-size: calc(24px + 1.6vw);
  color: $red;
}

@include tablet-down {
  .title {
    display: block;
    margin: 0;
    text-align: center;
  }
}
