@import 'media/styles/_colors';
@import 'media/styles/_sizes';
@font-face {
  font-family: 'SNES-italic';
  src: url('../../media/fonts/SNES-italic.ttf');
}

.header-background {
  background-color: $black;
  height: calc(180px + 4vh);
  padding: 15px 15px 25px 15px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 7px solid $red;
  border-radius: 10px;

  img {
    height: calc(50px + 4.5vw);
    padding: 10px;
    margin-bottom: 10px;
  }

  h1 {
    font-family: 'SNES-italic';
    font-size: 10.1vw;
    color: $red;
    margin: 10px;
    padding: 10px;
  }
}

@include tablet-down {
  .header {
    img {
      display: none;
    }

    h1 {
      text-align: center;
      font-size: calc(48px + 5vw);
      margin: 5px;
    }
  }
}
