@import '_sizes';

.text {
  line-height: 1.75rem;

  p {
    min-width: 89vw;

    i {
      margin: 0;
    }
  }
}

@include tablet-down {
  .text {
    margin: 0 3vw;

    p {
      min-width: 0;
    }
  }
}
