@import 'media/styles/_colors';

.navbar {
  display: flex;
  height: 56px;
  background-color: $purple;

  .nav-link {
    display: flex;
    vertical-align: middle;

    a {
      width: 110px;
      margin-left: 6vw;
      padding: 14px 20px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      font-size: 1.5rem;
      color: $white;
      background-color: $dark-purple;
      &:hover {
        background-color: $darkest-purple;
      }
    }

    i {
      margin-right: 7px;
    }
  }
}
