@import 'media/styles/_sizes';

.video {
  width: 32vw;
  height: 18vw;
  margin-right: 3vw;
  &:last-of-type {
    margin: 0;
  }
}

@include tablet-down {
  .video {
    width: calc(50px + 32vh);
    height: calc(50px + 18vh);
    margin: 0 0 5vh 0
  }
}
