@import '_sizes';

.video {
  width: 32vw;
  height: 18vw;
  margin-right: 3vw;
  &:last-of-type {
    margin: 0;
  }
}

@include tablet-down {
  .video {
    width: calc(180px + 32vw);
    max-width: 85vw;
    height: calc(180px + 18vw);
    margin: 0 0 5vh 0;
  }
}
