.video {
  width: 32vw;
  height: 18vw;
  margin-right: 3vw;
  &:last-of-type {
    margin: 0;
  }
}

@media (max-width: 1050px) {
  .video {
    width: calc(100px + 32vh);
    height: calc(100px + 18vh);
    margin: 0 0 5vh 0
  }
}
