@import '_colors';
@import '_sizes';

.videos-list {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;

  .error {
    font-size: 2.5rem;
    color: $red;
  }
}

@include tablet-down {
  .videos-list {
    flex-direction: column;

    .error {
      font-size: 1.5rem;
    }
  }
}
